body, html {
	margin:0;
	padding:0;
	background-color:#ffffff;
	font-family: Verdana, Geneva, sans-serif;
}
.wrapper {
	position:absolute;
	top:120px;
	left:50%;
}
.wrapper-text {
	position:absolute;
	top:180px;
	width: 100%;
	text-align: center
}
.panel-heading{
	background: red;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold; 
	font-family:  Tahoma, Geneva, sans-serif;
}